In [1]:
# importing the required packages
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly as py
import plotly.graph_objs as go
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings("ignore")
plt.rc("font", size=14)

In [2]:
# read the csv and print the first 5 rows
df = pd.read_excel("data.xlsx")
df.head()

,Merchant Id,Annual Revenue (k$),Spending Score (1-100),City,Most Purchased Product,Repayment Score 1-5
0,1,15,39,Mtwara,Mtindi 500ml,1
1,2,15,81,Zanzibar City,Fresh Milk 250ml,2
2,3,16,6,Mtwara,Mtindi 500ml,3
3,4,16,77,Zanzibar City,Fresh Milk 250ml,4
4,5,17,40,Mtwara,Mtindi 500ml,2

In [3]:
df.rename(columns={'Genre':'Gender',
                   'Annual Revenue (k$)':'Annual_Revenue',
                   'Spending Score (1-100)':'Spending_Score',
                   'Most Purchased Product': 'Most_Purchased_Product'}, inplace=True)

In [4]:
df.describe()

       Merchant Id  Annual_Revenue  Spending_Score  Repayment Score 1-5
count   200.000000      200.000000      200.000000           200.000000
mean    100.500000       60.560000       50.200000             3.990000
std      57.879185       26.264721       25.823522             0.850598
min       1.000000       15.000000        1.000000             1.000000
25%      50.750000       41.500000       34.750000             4.000000
50%     100.500000       61.500000       50.000000             4.000000
75%     150.250000       78.000000       73.000000             5.000000
max     200.000000      137.000000       99.000000             5.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Merchant Id             200 non-null    int64
 1   Annual_Revenue          200 non-null    int64
 2   Spending_Score          200 non-null    int64
 3   City                    200 non-null    object
 4   Most_Purchased_Product  200 non-null    object
 5   Repayment Score 1-5     200 non-null    int64
dtypes: int64(4), object(2)
memory usage: 9.5+ KB

In [6]:
df['City'].value_counts()

Dar es Salaam    82
Moshi            76
Mtwara           21
Zanzibar City    21
Name: City, dtype: int64

In [7]:
df['Most_Purchased_Product'].value_counts()

Mtindi 250ml        82
Fresh Milk 1ltr     76
Mtindi 500ml        21
Fresh Milk 250ml    21
Name: Most_Purchased_Product, dtype: int64

In [8]:
#Looking for null values
df.isnull().sum()

Merchant Id               0
Annual_Revenue            0
Spending_Score            0
City                      0
Most_Purchased_Product    0
Repayment Score 1-5       0
dtype: int64

In [ ]:
#Creating values for the elbow
X = df.loc[:,["Annual_Revenue", "Spending_Score"]]
inertia = []
k = range(1,20)
for i in k:
    means_k = KMeans(n_clusters=i, random_state=0)
    means_k.fit(X)
    inertia.append(means_k.inertia_)

#Plotting the elbow
plt.plot(k , inertia , 'bo-')
plt.xlabel('Number of Clusters') , plt.ylabel('Inertia(WCSS)')
plt.show()

In [ ]:
# Fitting K-Means to the dataset
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
labels = means_k.labels_
centroids = kmeans.cluster_centers_

In [ ]:
print(y_kmeans)

In [ ]:
len(y_kmeans)

In [ ]:
# Visualising the clusters
plt.scatter(X[y_kmeans == 0]['Annual_Revenue'], X[y_kmeans == 0]['Spending_Score'], s = 100, c = 'red', label = 'c1_General')
plt.scatter(X[y_kmeans == 1]['Annual_Revenue'], X[y_kmeans == 1]['Spending_Score'], s = 100, c = 'blue', label = 'c2_Miser')
plt.scatter(X[y_kmeans == 2]['Annual_Revenue'], X[y_kmeans == 2]['Spending_Score'], s = 100, c = 'green', label = 'c3_Careful')
plt.scatter(X[y_kmeans == 3]['Annual_Revenue'], X[y_kmeans == 3]['Spending_Score'], s = 100, c = 'cyan', label = 'c4_Spendthrift')
plt.scatter(X[y_kmeans == 4]['Annual_Revenue'], X[y_kmeans == 4]['Spending_Score'], s = 100, c = 'magenta', label = 'c5_Target')
plt.scatter(centroids[:, 0], centroids[:, 1], s = 300, c = 'yellow', label = 'Centroids')
plt.title('Clusters of Merchants')
plt.xlabel('Annual Income (k$)')
plt.ylabel('Spending Score (1-100)')
plt.legend(bbox_to_anchor=(1.02, 1), loc='upper left', borderaxespad=0)
plt.show()

In [ ]:
df.loc[:,"Cluster_Number"] = y_kmeans

In [ ]:
Cluster_Nature = []

for row in df['Cluster_Number']:
    if row == 0: 
        Cluster_Nature.append('General')
    elif row == 1: 
        Cluster_Nature.append('Miser') # Miser is the one who hoards wealth and spends a little money
    elif row == 2: Cluster_Nature.append('Careful')
    elif row == 3: Cluster_Nature.append('Spendthrift') # spendthrift is the one who spends money in an extravagant
    elif row == 4:  Cluster_Nature.append('Target')
    else: Cluster_Nature.append('Outlier')

df['Cluster_Nature'] = Cluster_Nature

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df['Cluster_Nature'].value_counts()

In [ ]:
uniqueValues = df['Cluster_Nature'].unique()
print(uniqueValues)

In [ ]:
target_df = df.loc[df['Cluster_Nature'] == 'Target']

In [ ]:
target_df.head()

In [ ]:
# Define the ratio of gap of each fragment in a tuple
explode = (0.05, 0.05, 0.05,0.05)
  
# Plotting the pie chart for above dataframe
df.groupby(['City']).sum().plot(
    kind='pie', y='Spending_Score', autopct='%1.0f%%', explode=explode, legend = False,ylabel='')
plt.show()

In [ ]:
# Define the ratio of gap of each fragment in a tuple
explode = (0.05, 0.05, 0.05,0.05)
  
# Plotting the pie chart for above dataframe
df.groupby(['Most_Purchased_Product']).sum().plot(
    kind='pie', y='Spending_Score', autopct='%1.0f%%', explode=explode, legend = False, ylabel='')
plt.show()

In [ ]:
# Cross tabulation between City and Cluster  Nature
CrosstabResult=pd.crosstab(index=df['City'],columns=df['Cluster_Nature'])
print(CrosstabResult)
# Grouped bar chart 
CrosstabResult.plot.bar(figsize=(7,4), rot=0)
plt.legend(bbox_to_anchor=(1.36, 1.04))
plt.show()

In [ ]:
# Cross tabulation between Product and Cluster  Nature
CrosstabResult=pd.crosstab(index=df['Most_Purchased_Product'],columns=df['Cluster_Nature'])
print(CrosstabResult)
# Grouped bar chart 
CrosstabResult.plot.bar(figsize=(7,4))
plt.legend(bbox_to_anchor=(1.0, 1.0))
plt.show()

In [ ]:
#Pivoit Table on city vs Cluster Nature aggregated by Annual Revenue
table = pd.pivot_table(df,index=['City','Cluster_Nature'],aggfunc={'Annual_Revenue':np.mean}) #,'Most_Purchased_Product':np.sum
print(table)
table.plot(kind='bar')
plt.show()